In [1]:
# INTRODUCTION TO SLICING OF LISTS

In [2]:
my_students=["sagarika",'zain']

In [3]:
print(my_students)

['sagarika', 'zain']

In [5]:
my_students=["sagarika",'zain', 'raju','shadaab','niranjan','prasad', "reema", 'jyotshna']

In [6]:
print(my_students)

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [7]:
type(my_students)

list

In [8]:
#req:slicing 2 persons in a single group

In [ ]:
# General syntax of slicing
  var[start value: stop value: stepcount]
    #last value is always exclusive....!

In [10]:
print(my_students[0:1])

['sagarika']

In [11]:
print(my_students[0:2])

['sagarika', 'zain']

In [12]:
print(my_students[0:5])

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan']

In [ ]:
#req: raju & shadaab......

In [13]:
print(my_students[2:4])

['raju', 'shadaab']

In [14]:
print(my_students[4:6])

['niranjan', 'prasad']

In [15]:
print(my_students[6:8])

['reema', 'jyotshna']

In [16]:
print(my_students)

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [17]:
len(my_students)

8

In [18]:
print(my_students[6:7])

['reema']

In [19]:
print(my_students)

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [ ]:
#req: to consider every alternarive name in the list

In [20]:
print(my_students[0:7:1])

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema']

In [21]:
print(my_students[0:8:1])

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [22]:
print(my_students[0:8:2])        # step count

['sagarika', 'raju', 'niranjan', 'reema']

In [ ]:
 # INTRODUCTION TO NEGATIVE INDEXING

In [23]:
print(my_students)

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [24]:
print(my_students[7])

jyotshna

In [ ]:
# -ve indexing will be startinh from-1, -2,-3.......

In [25]:
print(my_students[-1])

jyotshna

In [26]:
print(my_students[-2])

reema

In [ ]:
# how do you print the list in a reverse order by using the indexing....?

In [27]:
print(my_students)

['sagarika', 'zain', 'raju', 'shadaab', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [ ]:
#req : to print the below in reverse order....!

In [29]:
print(my_students[::-1])

['jyotshna', 'reema', 'prasad', 'niranjan', 'shadaab', 'raju', 'zain', 'sagarika']

In [ ]:
# INTRODUCTION TO RANGE FUNCTION

In [ ]:
# general syntax of a range
var[start,stop,stepcount]

In [ ]:
# I want to print the numbers from 1 to 30

In [30]:
numbers=list(range(1,30))

In [31]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [34]:
numbers=list(range(1,31))

In [35]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
#req:I want to print only even numbers from 1 to 30

In [37]:
numbers=list(range(0,31,2))

In [38]:
print(numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [41]:
numbers=list(range(2,30,2))

In [42]:
list(range(2,30,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [43]:
even_numbers=list(range(2,31,2))             # important question

In [44]:
list(range(2,30,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [45]:
odd_numbers=list(range(1,31,2))              # important question

In [48]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]